{% extends "home.html" %}
{% load static %}
{% load staticfiles %}

{% block body_block %}

<div class="container">
    <div class="jumbotron">

        <head>
        <h3>Search </h3>
        <form method='GET' action=''>
        <input type='text' name='q' placeholder='Search by item or price' values='{{ request.GET.q }}' />
        <input type='submit' value='Search'/>
    
        
        </head>


    
    
    

   

    </form>
    {% if query_results %}
    <h3>Expenses Added (To Update/Delete Expenses click on ItemName)</h3>
    
    
    <table width="700">
      <tr>
          <!--<th scope="col"><a href="?o=p_k">SerialNo</a></th>-->
          <th scope="col"><a href="?o=item">ItemName</a></th>
          <th scope="col"><a href="?o=image">Image</a></th>
          <th scope="col"><a href="?o=price">Price</a></th>
          <th scope="col"><a href="?o=created_date">CreationDate</a></th>
      </tr>
      
      {% for product in query_results %}
      {% if product %}
      <tr> 
          <!--<td>{{ product.p_k }}</td>-->
          <td><a href='/expenses/{{ product.p_k }}/modify/'>{{ product.item }}</a></td>
          <!--<td>{% with 'static/expenses/'|add:product.image as image_static %}
                {% static image_static %}
              {% endwith %}</td>-->
          <td>
              {% if product.image %}
              <img src="/{{ product.image.url }}" alt="{{product.image}}" width="60px" height="60px" /></td>
              {% else %}
              <img src="" alt="{{product.image}}" /></td>
             {% endif %}
          <td>{{ product.price }}</td>
          <td>{{ product.created_date }}</td>
      </tr>
      {% else %}
        <p> No Item found</p>
      {% endif %}
      {% endfor %}
  </table>
  {% if total_expenses %}
    <p>Total Expenses: {{ total_expenses }}</p>
  {% endif %}
  {% else %}
      <p>No Items Found</p>
  </div>
</div>

{% endblock %}